/*
#C78283 ROSEPINK
#F3D9DC PALEPINK
*/

* {
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family: 'Questrial', sans-serif;
}

body {
  background:#011627;
  color:#E6FAFC;
}

.main-header {
  background:#FF3366;
  color:#E6FAFC;
  text-align:center;
  text-shadow:2px 3px 2px rgba(0,0,0,0.3);
}

.main-header-text {
  padding:20px;
  font-size:5vw;
}

.score-board {
  border: 4px #011627 solid;
  margin:20px auto;
  width:375px;
  color: #011627;
  background:#E6FAFC;
  border-radius:10px;
  padding:15px;
  display:flex;
}

.score-board-section {
  margin:auto;
  width:30%;
  text-align:center;

}

.score {

}

.badge {
  color:white;
  background:#FF3366;
  border-radius:20px;
  margin:10px;
  padding:2px;
}

#badge-user {

}

#badge-comp {
}

.score {

  font-size:40px;
}

.status-field {
  font-weight:700;
  font-size:40px;
  text-align:center;
}
.choices {
  text-align:center;
  margin:40px 0;
}
.choice {
  display: inline-block;
  border: 4px solid #FF3366;
  border-radius: 50%;
  padding:10px;
  margin:0px 25px;
  transition:0.2s;
}
.choice:hover, .choice:active {
  background: #FF3366;
  box-shadow:0px 3px 20px rgba(255,255,255,0.3);
}


#reset-btn {
  visibility:hidden;
  text-align:center;
  font-size:20px;
  font-weight:700;
  border-radius:10px;
  border:3px solid #E6FAFC;
  background:transparent;
  color: #E6FAFC;
  padding:5px;
  margin-top:20px;
  transition:0.3s;
  opacity:0.5;
}

#reset-btn:focus {
  outline:none;
}

#reset-btn:hover {
  opacity:1;

}
#reset-btn:active {
  box-shadow:inset 0px 3px 20px rgba(0,0,0,0.3);
  transition:0.3s;
}


.footer {
  text-align:center;
}
